{% extends 'base.html' %}
{% block body%}
<div class="box-convert-brd" style="width: 100%;">
<div class="nesolestag-enadenud">
    <h3 style="text-align:center; margin: 50px 0">О нас</h3>
    <hr>
    <div class="meanous-andscoev">
    <div class="aio-icon-description">
        <br> <a><strong style="color: rgb(13, 204, 13);">ИНН</a></strong> <a><i style="color:burlywood;"><strong>2103006463</strong></i></a>, <a><strong style="color: rgb(13, 204, 13);">ОГРН</a></strong> <a><i style="color:burlywood;"><strong>1042132003374</strong></i></a>, <a><strong style="color: rgb(13, 204, 13);">КПП</a></strong> <a><i style="color:burlywood;"><strong>210301001</strong></i></a> <br> 
        <a><strong style="color: rgb(177, 139, 17)">Статус</strong></a>: <strong style="color: rgb(5, 119, 5);">✔Действующее</strong><br><br>
        <a><strong style="color: rgb(177, 139, 17); font-size: 20px;">Виды деятельности</strong>:<a><br> <a>Производство хлеба и мучных кондитерских изделий, тортов и пирожных недлительного хранения</a></div>
    </div>
  
</div>
</div>
<script>  $('.nav-toggle').on('click', function(){
    $('#menu').toggleClass('active');
    });
    </script>
{% endblock %}
